:root{
  font-size: 16px;
}
*{
  box-sizing: border-box;
}
#root-form{
  padding: 1rem;
}
#root-form>*{
  padding: 0.5rem;
  border: 1px solid cadetblue;
}
#root-form>button{
  margin-left:1rem;
  cursor: pointer;
}
#root-form>button:hover{
  border: 1px solid rgb(135, 225, 228);
  background-color: rgb(42, 69, 70);
  color: rgb(204, 229, 230);
}
#list>*{
  width: 40vw;
  border: 1ps solid bisque;
  background-color: blanchedalmond;
}

