:root{
  font-size: 16px;
}
section{
  text-align: center;
}
.img-wrapper{
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  background-color: cyan;
}
.img-wrapper>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-wrapper+button{
  display: block;
  margin: 2rem auto 0rem;
  padding: 0.5rem;
  border: 1px solid magenta;
  border-radius: 6px;
  font-size: 1.2rem;
}